www/*.js
www/*.html
*.generated.esv
.DS_Store
.cache
build.generated.xml
*.class
/java/fileserver.jar

/.spxcache
/.spxindex
/.shadowdir
/bin
/editor/java/mobltemplatelang/generated
/include
/utils

*.aterm
*.pp.mobl
