<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="mobl"
            description="MoBLTemplateLang"
            language="MoBLTemplateLang"
            derivedFrom="DynamicRoot"
            validator="mobltemplatelang.MoBLTemplateLangValidator"
            validatorClass="mobltemplatelang.MoBLTemplateLangValidator"
      ></language>
   </extension>
   <extension
         id="mobltemplatelang.parser"
         name="MoBLTemplateLang Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="mobltemplatelang.MoBLTemplateLangParseController"
            language="MoBLTemplateLang">
      </parser>
   </extension>    
</plugin>
